html {
    background-color: $c-black;
    color: $c-white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 62.5%;
}

a {
    text-decoration: inherit;
    color: inherit;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

p,
a,
li {
    font-size: 1.8rem;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 3px;
    &-track {
        background: $c-dark-white;
        border-radius: 10px;
    }
    &-thumb {
        background: $c-light-grey;
        border-radius: 10px;
    }
}

.toast-close {
    color: $c-black !important;
    font-size: 1.2rem !important;
}