.u-container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

.u-img-res {
    height: auto;
    max-width: 100%;
}

.u-btn {
    padding: 0.5rem 1rem;
    text-align: center;
    word-break: break-word;
    border-color: transparent;
    border-radius: 999999px;
    background-color: $c-accent;
    color: $c-white;
    font-size: 1.8rem;
    font-weight: 600;
    display: block;
    width: 100%;
    box-shadow: 0px 2px 15px 1px $c-accent;
}

@for $i from 1 through 10 {
    .u-p#{$i} {
        padding: $i + rem;
    }
    .u-pb#{$i} {
        padding-bottom: $i + rem;
    }
    .u-pt#{$i} {
        padding-top: $i + rem;
    }
    .u-pl#{$i} {
        padding-left: $i + rem;
    }
    .u-pr#{$i} {
        padding-right: $i + rem;
    }
}

@for $i from 1 through 10 {
    .u-m#{$i} {
        margin: $i + rem;
    }
    .u-mb#{$i} {
        margin-bottom: $i+rem;
    }
    .u-mt#{$i} {
        margin-top: $i+rem;
    }
    .u-ml#{$i} {
        margin-left: $i+rem;
    }
    .u-mr#{$i} {
        margin-right: $i+rem;
    }
}