<template>
  <div class="home">
    <GenresFilter />
    <YearFilter />
    <MovieList />
  </div>
</template>

<script>
import MovieList from "./../components/MovieList";

import GenresFilter from "../components/GenresFilter";
import YearFilter from "../components/YearFilter";

export default {
  name: "Home",
  components: {
    MovieList,
    GenresFilter,
    YearFilter,
  },

  beforeCreate() {
    this.$store.commit("resetSearchQuery");
  },
};
</script>

<style lang="sass" scoped>
</style>
