<template>
  <div v-if="movie" class="movie-info">
    <MoviePoster class="movie-info__poster" :path="movie.poster_path" size="w342"></MoviePoster>
    <div class="movie-info__description">
      <h1 v-if="movie.original_title">
        {{movie.original_title}}
        <span
          class="movie-info__year"
          v-if="movie.release_date"
        >({{new Date(movie.release_date).getFullYear()}})</span>
      </h1>

      <p v-if="movie.runtime" class="movie-info__runtime u-mb2">{{movie.runtime}} min</p>

      <p class="movie-info__overview u-mb2">{{movie.overview}}</p>

      <star-rating
        :increment="0.5"
        :max-rating="10"
        :star-size="30"
        border-color="transparent"
        :border-width="0"
        active-color="#FDA401"
        :glow="2"
        v-model="movie.vote_average"
        @rating-selected="onRatingSelect"
      ></star-rating>

      <a
        class="u-mb2 u-mt2 u-btn"
        v-if="movie.homepage"
        :href="movie.homepage"
        target="_blank"
      >Movie website</a>

      <h3 class="u-mb1">Genres</h3>
      <genres class="u-mb2" :genres="movie.genres" />
    </div>
    <div class="movie-info__credits">
      <credits v-if="movie.id" :movieId="movie.id" />
    </div>
  </div>
</template>

<script>
import api from "../service/api";
import MoviePoster from "../components/MoviePoster";
import Credits from "../components/Credits";
import Genres from "../components/Genres";
import StarRating from "vue-star-rating";
export default {
  name: "Movie",
  components: {
    MoviePoster,
    Genres,
    Credits,
    StarRating,
  },
  data() {
    return {
      movie: {},
    };
  },

  methods: {
    onRatingSelect(rating) {
      const sessionId = this.$store.state.guestSession.guest_session_id;
      const { id } = this.movie;
      api.rateMovie(rating, id, sessionId).then((res) => {
        this.$toasted.show("Thank you!", { type: "success" });
      });
    },
  },

  watch: {
    $route: {
      immediate: true,
      handler(to, from) {
        const movieId = this.$route.params.id;

        api.fetchMovieInfo(movieId).then((res) => {
          this.movie = res;
        });
      },
    },
  },
};
</script>


<style lang="scss" scoped>
.movie-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__poster {
    flex: 0 1 350px;
    margin: 1rem;
  }

  &__description {
    flex: 1;
    margin: 1rem;
  }

  &__credits {
    width: 100%;
    margin-bottom: 5rem;
  }

  &__year {
    color: $c-light-grey;
    font-weight: 100;
  }

  &__overview {
    color: $c-light-grey;
  }

  &__runtime {
    color: $c-light-grey;
    font-weight: 100;
  }
}
</style>