<template>
  <div class="search">
    <p class="u-mb1">
      Results for:
      <strong>
        <em>{{this.$route.params.query}}</em>
      </strong>
    </p>
    <MovieList />
  </div>
</template>

<script>
import MovieList from "./../components/MovieList";

import api from "./../service/api";
export default {
  name: "Search",
  components: {
    MovieList,
  },

  watch: {
    $route: {
      immediate: true,
      handler() {
        const query = this.$route.params.query;

        this.$store.dispatch("search", query);
      },
    },
  },
};
</script>
