<template>
  <div class="cast-poster">
    <img
      class="u-img-res cast-poster__img"
      :src="`https://image.tmdb.org/t/p/${size}${cast.profile_path}`"
    />
    <div class="cast-poster__description">
      <p>{{cast.name}}</p>
      <p>{{cast.character}}</p>
    </div>

    <!-- <p>{{posterPath}}</p> -->
  </div>
</template>

<script>
import api from "../service/api";
export default {
  name: "CastPoster",
  props: {
    cast: {
      type: Object,
      required: true,
    },
    size: {
      default: "w154",
      validator: (value) => {
        return (
          ["w92", "w154", "w185", "w342", "w500", "w780"].indexOf(value) !== -1
        );
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.cast-poster {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 49px 5px #444444;
  overflow: hidden;
  background-color: $c-light-grey;

  &__img {
  }

  &__description {
    padding: 1rem;
  }
}
</style>