<template>
  <div class="wrapper">
    <h2 class="u-mb1">Cast</h2>
    <ul class="credits">
      <li class="credits__card" v-for="cast in credits.cast" :key="cast.cast_id">
        <img
          v-if="cast.profile_path"
          class="u-img-res credits__img"
          :src="`https://image.tmdb.org/t/p/w154${cast.profile_path}`"
        />
        <img v-else class="u-img-res credits__img" src="../assets/profile-placeholder.png" />
        <div class="credits__description">
          <p class="credits__name">{{cast.name}}</p>
          <p class="credits__character">{{cast.character}}</p>
        </div>
      </li>
      <!-- <CastPoster v-for="cast in credits.cast" :key="cast.cast_id" :cast="cast" /> -->
    </ul>
  </div>
</template>

<script>
import api from "../service/api";
import CastPoster from "../components/CastPoster";
export default {
  name: "Credits",
  components: {
    CastPoster,
  },
  props: {
    movieId: {
      type: [String, Number],
      required: true,
    },
  },
  data() {
    return {
      credits: {},
    };
  },

  created() {
    api.fetchMovieCredits(this.$props.movieId).then((res) => {
      this.credits = res;
    });
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  width: 100%;
  padding: 2rem;
  background-color: $c-grey;
  border-radius: 10px;
}
.credits {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-left: -1rem;

  &__card {
    border-radius: 10px;
    min-width: 154px;
    width: 154px;
    margin: 1rem;
    background-color: $c-black;
    overflow: hidden;
  }

  &__img {
    width: 154px;
    height: 231px;
    object-fit: cover;
  }

  &__description {
    padding: 1rem;
  }

  &__name {
  }

  &__character {
    font-size: 1.4rem;
    color: $c-light-grey;
  }
}
</style>