<template>
  <ul class="genres">
    <li v-for="genre in genres" :key="genre.id" class="genres__item">{{genre.name}}</li>
  </ul>
</template>

<script>
export default {
  name: "Genres",
  props: {
    genres: Array,
  },
};
</script>

<style lang="scss" scoped>
.genres {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: $c-dark-white;

  &__item {
    padding: 0.3rem 0.8rem;
    background-color: $c-grey;
    border-radius: 999999px;
    margin-right: 1rem;
    text-align: center;
    font-size: 1.4rem;
  }
}
</style>