<template>
  <section>
    <div class="movie-grid">
      <div v-for="movie in movieList" :key="movie.id">
        <router-link :to="{ name: 'movie', params: { id: movie.id }}">
          <MoviePoster :path="movie.poster_path" :rating="movie.vote_average" />
        </router-link>
      </div>
    </div>
    <Pagination />
  </section>
</template>

<script>
import MoviePoster from "../components/MoviePoster";
import Pagination from "../components/Pagination";
export default {
  name: "MovieList",
  components: {
    MoviePoster,
    Pagination,
  },

  computed: {
    movieList() {
      return this.$store.state.movieList.results;
    },
  },

  created() {
    this.$store.dispatch("fetchMovie");
  },

  destroyed() {
    this.$store.commit("clearMovieList");
  },
};
</script>

<style lang="scss" scoped>
.movie-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(154px, 1fr));
}
</style>