<template>
  <div class="poster">
    <PosterLoader v-if="loading" />
    <img
      class="u-img-res poster__img"
      :src="`https://image.tmdb.org/t/p/${size}${path}`"
      @load="onLoad"
    />
    <div v-if="rating" class="poster__rating">
      <font-awesome-icon icon="star" class="poster__star" />
      <span>{{" " + rating}}</span>
    </div>
  </div>
</template>

<script>
import api from "../service/api";
import PosterLoader from "./PosterLoader";
export default {
  name: "MoviePoster",
  components: {
    PosterLoader,
  },
  props: {
    path: String,
    rating: Number,
    size: {
      default: "w154",
      validator: (value) => {
        return (
          ["w92", "w154", "w185", "w342", "w500", "w780"].indexOf(value) !== -1
        );
      },
    },
  },
  data() {
    return {
      loading: true,
    };
  },

  methods: {
    onLoad() {
      this.loading = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.poster {
  position: relative;

  &__img {
    border-radius: 10px;
    box-shadow: 0px 0px 49px 5px #444444;
    width: 100%;
  }

  &__rating {
    position: absolute;
    top: 0;
    right: 0;
    color: orange;
    background-color: rgba($c-black, 0.8);
    padding: 0.5rem;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.2rem;
  }

  &__loader {
    width: 100%;
    height: 260px;
    background-color: red;
    border-radius: 10px;
  }

  &__star {
  }
}
</style>