<template>
  <paginate
    v-model="$store.state.movieList.page"
    :page-count="$store.state.movieList.total_pages"
    :page-range="3"
    :margin-pages="2"
    :click-handler="clickCallback"
    :prev-text="'Prev'"
    :next-text="'Next'"
    container-class="pagination"
    page-link-class="pagination__link"
    prev-link-class="pagination__link"
    next-link-class="pagination__link"
    active-class="pagination__link--active"
    disabled-class="pagination__link--disabled"
    :no-li-surround="true"
  ></paginate>
</template>

<script>
export default {
  name: "Pagination",
  methods: {
    clickCallback(pageNumber) {
      this.$store.dispatch("fetchMovie", pageNumber);
    },
  },
};
</script>

<style lang="scss">
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  margin: 5rem 0 !important;

  &__link {
    display: inline-block;
    padding: 0.2rem 1rem;
    margin: 0 0.8rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: $c-grey;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    outline: none;
    cursor: pointer;

    &--disabled {
      color: $c-dark-white;
      cursor: not-allowed;
    }

    &--active {
      //border-bottom: 4px solid $c-accent;
      color: $c-white;
      background-color: $c-accent;
      cursor: default;
    }
  }
}
</style>