<template>
  <div class="loader">
    <div class="loader__block-img"></div>
  </div>
</template>

<script>
export default {
  name: "PosterLoader",
};
</script>

<style lang="scss" scoped>
.loader {
  min-height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      transparent 0%,
      $c-light-grey 50%,
      transparent 100%
    );
    animation: load 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    animation-iteration-count: infinite;
  }

  &__block-img {
    border-radius: 5px;
    background-color: $c-grey;
    height: 200px;
    max-width: 100%;
  }
}

@keyframes load {
  from {
    left: -100%;
  }

  to {
    left: 100%;
  }
}
</style>