<template>
  <div class="search-bar">
    <form @submit="onSearch">
      <div class="search-bar__container">
        <input class="search-bar__input" v-model="query" type="text" placeholder="Search movie" />
        <button class="search-bar__button">Search</button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "SearchBar",

  data() {
    return {
      query: "",
    };
  },

  methods: {
    onSearch(e) {
      e.preventDefault();
      if (this.query !== "") {
        this.$router.push({
          name: "search",
          params: { query: this.query.trim() },
        });

        this.query = "";
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.search-bar {
  &__container {
    position: relative;
    display: inline-block;
    border-radius: 99999px;
    border: 5px solid $c-grey;
  }

  &__input {
    height: 3rem;
    min-width: 30rem;
    border: none;
    background-color: $c-grey;
    border-radius: 99999px;
    outline: none;
    color: $c-white;
    padding-left: 1.5rem;
  }

  &__button {
    position: absolute;
    border-radius: 99999px;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    padding: 0.5rem 1rem;
    outline: none;
    background-color: $c-accent;
    color: $c-white;
    cursor: pointer;
  }
}
</style>