<template>
  <div id="app">
    <div class="u-container">
      <div class="navigation">
        <router-link to="/">Home</router-link>
        <SearchBar />
      </div>
    </div>
    <main>
      <div class="u-container">
        <router-view />
      </div>
    </main>
  </div>
</template>

<script>
import api from "./service/api";
import SearchBar from "./components/SearchBar";
export default {
  name: "App",
  components: {
    SearchBar,
  },
  created() {
    this.$store.dispatch("generateGuestId");
  },
};
</script>

<style lang="scss" scoped>
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
</style>
